@use "../../../../styles/scss";

.product-item {
  position: relative;
  width: 34rem;
  min-height: 30rem;
  background-color: scss.$default-white;
  overflow: hidden;
  border-radius: 0.4rem;
  box-shadow: 0 0 2px 1px rgba(scss.$default-black, 0.3);
  &__picture {
    @include scss.backgroundImage(
      contain,
      transparent,
      no-repeat,
      center,
      100%,
      100%
    ) {
    }

    &--box {
      padding: scss.$padding-very-small;
      height: 25rem;
      width: 100%;
      cursor: pointer;
    }
  }

  &__text--box {
    height: 100%;
    padding: 1rem 2rem 1rem 2rem;
    background-color: rgba(226, 201, 201, 0.469);
  }

  &__title {
    font-size: scss.$font-size-2rem;
    font-weight: scss.$font-weight-light;
    margin: 0;
    cursor: pointer;
  }
}

.best-seller-tag {
  display: inline-block;
  color: scss.$default-white;
  padding: 0.7rem 2rem 0.7rem 1rem;
  background-color: scss.$color-bestSeller;
  font-size: scss.$font-size-default;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}

.product-rating {
  @include scss.displayFlex(row, center, initial, 1.5rem);

  & span {
    font-weight: scss.$font-weight-light;
    font-size: 1.7rem;
    color: scss.$color-links;
  }
}
