.username-page {
  display: flex;
  flex-direction: column;
}

.amazon-logo {
  margin: 2rem 0 2rem 0rem;
  fill: black;
  align-self: center;
}

.sign-in__box {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  align-items: flex-start;
  align-self: center;
  width: 37rem;
  min-height: 30rem;
  background-color: white;
  box-shadow: 0 0 2px 1px rgb(158, 153, 153);
}

.sign-in__box h1 {
  font-weight: 600;
  margin: 0;
}

.username-info {
  flex-basis: 90%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.username-info label {
  margin: 2rem 0 0 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.username-info input {
  font-family: inherit;
  border-radius: 3px;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
  height: 2.8rem;
  margin-bottom: 0.6rem;
  outline: none;

  transition: all 0.3s;
  border: 1px solid #8d9096;
}

.username-info input:focus {
  border: 1px solid orange;
  box-shadow: 0 0 5px 3px rgba(192, 127, 53, 1);
}

.username-info button {
  border-radius: 3px;
  font-family: inherit;
  font-size: 1.8rem;
  border: none;
  padding: 1rem 15rem;
  cursor: pointer;
  background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  transition: all 0.3s;
}

.username-info button:hover {
  background: linear-gradient(to bottom, #f0c14b, #f7dfa5);
}

.username-info button:active {
  transform: scale(0.95);
}

.sign-in__box p {
  margin-top: 2.5rem;
  font-size: 1.5rem;
}

.sign-in__box p a {
  color: blue;
}

.sign-in__box p a:hover {
  text-decoration: underline;
  color: orange;
}

.sign-up__footer {
  display: flex;
  text-align: center;
  width: 42rem;
  flex-direction: column;
  align-self: center;
  gap: 2rem;
  position: relative;
}

.sign-up__footer span {
  display: flex;
  align-self: center;
  padding: 0 0.5rem 0 0.5rem;
  font-size: 1.4rem;
  color: #545557;
  position: relative;
  margin-top: 2.5rem;
  display: inline-block;
  z-index: 3;
  width: fit-content;
  background-color: #fff;
}

.sign-up__footer::after {
  content: "";
  width: 100%;
  background-color: transparent;
  display: block;
  height: 1px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  top: 35%;
  margin-top: -1px;
  z-index: 1;
}

.sign-up__footer button {
  font-family: inherit;
  font-size: 1.5rem;
  background: #e7e9ec;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  padding: 0.8rem;
  text-align: center;
  transition: all 0.3s;
}

.sign-up__footer button:hover {
  background-color: #d2d4d6;
}

.sign-up__footer button:active {
  transform: scale(0.95);
  color: #0066c0;
}

.email-error {
  margin: 0 !important;
  color: red;
}
