@use "../../../../styles/scss";

.product-item {
  @include scss.displayFlex(column, initial, initial, 2rem);
  padding: scss.$padding-small;
  z-index: 10;
  background-color: scss.$default-white;

  & h2 {
    font-size: 2.6rem;
    font-weight: scss.$font-weight-medium;
    margin-top: 0;
  }

  &__picture--box {
    position: relative;
    height: 28rem;
  }

  &__picture {
    height: 100%;
    object-fit: cover;
  }
}

.product-page__link {
  font-size: scss.$font-size-default;
  color: scss.$color-links;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    color: orange;
    text-decoration: underline;
  }
}
