@use "../../../../styles/scss";

.product {
  &-detail {
    width: min-content;
    min-height: 100vh;

    &__info {
      min-height: 40rem;
      max-width: 160rem;
      margin: 0 auto;
      background-color: scss.$default-white;
      padding: 3rem 4rem;
      @include scss.displayGrid(initial, initial, 2rem) {
        grid-template-columns: minmax(30rem, 35rem) minmax(60rem, 55%) 320px;
      }

      @media only screen and (max-width: 60em) {
        width: min-content;
      }
    }
  }

  &-picture {
    height: 100%;
    object-fit: cover;
    z-index: 99999;
    margin: 0 auto;

    &__leftbox {
      border-radius: scss.$border-radius-common;
      height: max-content;
      border: 1px solid rgba(128, 128, 128, 0.308);
    }

    &__box {
      padding: scss.$padding-very-small;
      display: flex;
      min-height: 25rem;
    }

    &__rating {
      margin-top: 1rem;
      padding: scss.$padding-very-small;
      width: 100%;
      background-color: rgba(204, 204, 204, 0.466);
      font-size: scss.$font-size-default;

      & p {
        display: flex;
        justify-content: center;
        text-decoration: underline;
      }
    }
  }
}

.star-rating {
  padding-left: 3.3rem;

  &__center {
    padding-left: 8.5rem;
  }
}
