@use "../../../../styles/scss";

.product {
  &-detail {
    background-color: scss.$color-background-primary;
    max-width: 100%;

    &__info {
      min-height: 40rem;
      background-color: scss.$default-white;
      padding: 2rem 4rem;
      gap: 2rem;
      display: grid;
      grid-template-columns: 300px minmax(400px, 55%) 320px;
    }
  }

  &-picture {
    @include scss.backgroundImage(
      contain,
      transparent,
      no-repeat,
      center,
      initial,
      100%
    ) {
      min-height: 25rem;
    }
    display: inline-block;
    text-align: center;

    &__leftbox {
      border-radius: scss.$border-radius-common;
      height: max-content;
      box-shadow: 0 0 2px 1px rgba(scss.$default-black, 0.3);
    }

    &__box {
      padding: scss.$padding-very-small;
    }

    &__rating {
      font-size: scss.$font-size-default;
      text-decoration: underline;
      margin-top: 1rem;
      padding: scss.$padding-very-small;
      text-align: center;
      background-color: #ccc;
    }
  }
}
