@use "../../../../styles/scss";

.product {
  &-detail__box {
    // display: grid;
    // grid-template-columns: 75% 23%;
    // gap: 2rem;
  }

  &-description {
    position: relative;
    margin-top: -3rem;
    padding: 3rem 2rem 2rem 5rem;

    &__text {
      line-height: 1.3;
      font-size: 1.7rem;

      & span {
        display: block;
        font-size: scss.$font-size-2rem;
        font-weight: scss.$font-weight-medium;
      }
    }
  }

  &-title {
    font-size: 2.5rem;
  }

  &-bestseller {
    font-size: scss.$font-size-2rem;
  }

  &-share {
    position: absolute;
    right: 2rem;
    top: 46%;
    font-size: scss.$font-size-default;
    display: inline-block;
  }

  &-price {
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: scss.$font-weight-light;
    color: scss.$color-price;
    padding-bottom: scss.$padding-very-small;
    border-bottom: 1px solid rgba(128, 128, 128, 0.281);
  }
}
