@use "../../styles/scss";

.location-box {
  min-width: 10rem;
  margin-left: 1rem;
  @include scss.displayFlex(row, center, center, 0);

  &__logo {
    font-size: scss.$font-size-2rem;
    margin-right: 0.3rem;
    stroke: scss.$default-white;
  }

  & span {
    margin-left: 0.4rem;
    white-space: nowrap;
    color: scss.$default-white;
    font-size: scss.$font-size-default;
  }

  & h2 {
    text-align: start;
    margin: 0;
    font-size: scss.$font-size-default;
  }
}
