@use "../../styles/scss";

.backdrop {
  @include scss.positionEl(fixed, 0, 0, initial) {
    width: 100%;
    height: 100vh;
  }
  z-index: 20;
  background-color: rgba(scss.$default-black, 0.75);
}
