.arrow {
  position: relative;
  cursor: pointer;
  border-style: solid;
  top: 2px;
  left: 15px;
  z-index: 999;
  border-width: 5px;

  border-color: transparent;
  border-bottom-width: 0;
  border-top: 7px solid #ccc;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.arrow2 {
  position: absolute;
  border-style: solid;
  border-width: 9px;
  left: 111px;
  top: -10px;
  border-color: transparent;
  border-top-width: 0;
  border-bottom: 10px solid white;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.signin-modal {
  z-index: 9999;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  left: -120px;
  width: 25rem;
  height: 20rem;
  background-color: white;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);

  & h4 {
    margin-top: 3rem;
    font-size: 1.5rem;
    color: black;
  }

  & h4 span {
    cursor: pointer;
    color: blue;

    &:hover {
      text-decoration: underline;
    }
  }
}

.sign-in__btn {
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  background: -webkit-linear-gradient(top, #f8e3ad, #eeba37);
  border: 1px solid;
  border-radius: 3px;
  border-color: #c89411 #b0820f #99710d;
  font-family: inherit;
  font-size: 1.5rem;
  margin-top: -3rem;
  padding: 0.7rem 5rem;
  transition: all 0.3s;

  &:hover {
    background: -webkit-linear-gradient(top, #eeba37, #f8e3ad);
  }
}
