@use "../../styles/scss";

.arrow {
  @include scss.arrow(
    relative,
    pointer,
    solid,
    2px,
    15px,
    999,
    5px,
    transparent,
    0,
    0,
    0,
    0
  ) {
    border-bottom-width: 0;
    border-top: 7px solid #ccc;
  }
}

.arrow2 {
  @include scss.arrow(
    absolute,
    auto,
    solid,
    -10px,
    111px,
    auto,
    9px,
    transparent,
    0,
    0,
    0,
    0
  ) {
    border-top-width: 0;
    border-bottom: 10px solid scss.$default-white;
  }
}

.signin-modal {
  z-index: 9999;
  border-radius: 3px;
  @include scss.displayFlex(column, center, center, 0);
  @include scss.positionEl(absolute, 1.3rem, -12rem, initial) {
    width: 25rem;
    height: 20rem;
  }
  background-color: scss.$default-white;
  box-shadow: 0 0 3px 2px rgba(scss.$default-black, 0.3);

  & h4 {
    margin-top: 3rem;
    font-size: scss.$font-size-default;
    color: scss.$default-black;
  }

  & h4 span {
    cursor: pointer;
    color: scss.$color-links;

    &:hover {
      text-decoration: underline;
    }
  }
}

.sign-in__btn {
  @include scss.buttons;
  display: inline-block;
  font-weight: scss.$font-weight-medium;
  background: -webkit-linear-gradient(top, #f8e3ad, #eeba37);
  border: 1px solid;
  border-radius: scss.$border-radius-common;
  border-color: #c89411 #b0820f #99710d;
  font-size: scss.$font-size-default;
  margin-top: -3rem;
  padding: 0.7rem 5rem;
  transition: all 0.3s;

  &:hover {
    background: -webkit-linear-gradient(top, #eeba37, #f8e3ad);
  }
}
