@use "../../styles/scss";

.main-nav {
  height: 7rem;
  min-width: 100vw;
  background-color: #131921;
  display: grid;
  grid-template-columns: 15rem minmax(40rem, 100rem) max-content max-content max-content;
  align-content: center;
  align-items: center;

  &__amazon-logo {
    cursor: pointer;
  }

  &__logo-container {
    min-width: 15rem;
    padding: 2.3rem 2rem 2rem 3rem;
  }

  &__sign-in {
    @include scss.displayFlex(row, center, initial, 0);
    white-space: nowrap;
    margin-left: 4rem;
    color: scss.$default-white;
    margin-right: 0.5rem;

    & h3 {
      font-size: 1.7rem;
      margin-right: 0.8rem;
      letter-spacing: 0.2px;
    }

    & h3 span:first-child {
      font-size: scss.$font-size-default;
      font-weight: scss.$font-weight-light;
      letter-spacing: 0.3px;
    }

    & h3 span:last-child {
      font-weight: scss.$font-weight-medium;
    }
  }

  &__cart-container {
    position: relative;
    margin-left: 6rem;
    max-width: 5rem;
    margin-right: 3rem;
    cursor: pointer;
  }
}

.number-ofItems {
  position: absolute;
  top: 2px;
  left: 2.2rem;
  font-weight: scss.$font-weight-bold;
  color: orange;
  font-size: scss.$font-size-2rem;
}
