@use "../../styles/scss";

.main-nav {
  height: 7rem;
  min-width: 100rem;
  background-color: #131921;
  @include scss.displayFlex(row, center, initial, 0);

  &__amazon-logo {
    cursor: pointer;
  }

  &__logo-container {
    min-width: 10rem;
    padding: 2.3rem 2rem 2rem 3rem;
  }

  &__sign-in {
    @include scss.displayFlex(row, center, initial, 0);
    white-space: nowrap;
    margin-left: 4rem;
    color: scss.$default-white;
    margin-right: 0.5rem;

    & h3 {
      font-size: 1.7rem;
      margin-right: 0.8rem;
      letter-spacing: 0.2px;
    }

    & h3 span:first-child {
      font-size: scss.$font-size-default;
      font-weight: scss.$font-weight-light;
      letter-spacing: 0.3px;
    }

    & h3 span:last-child {
      font-weight: scss.$font-weight-medium;
    }
  }

  &__cart-container {
    margin-left: 8rem;
    max-width: 5rem;
    margin-right: 1rem;
    position: relative;
  }
}

.number-ofItems {
  position: absolute;
  top: 2px;
  left: 2.2rem;
  font-weight: scss.$font-weight-bold;
  color: orange;
  font-size: scss.$font-size-2rem;
}
