.logo {
  padding: 1rem 4rem 0.5rem 1rem;
}

.nav {
  height: 7rem;
  width: 100vw;
  background-color: #131921;
  display: flex;
  align-items: center;
}

.sign-in__link {
  display: flex;
  align-items: center;

  margin-left: 4rem;
  color: white;
}

.sign-in__link h3 {
  font-size: 1.7rem;
  margin-right: 0.8rem;
  letter-spacing: 0.2px;
}

.cart-container {
  margin-left: 5rem;
  max-width: fit-content;
  position: relative;
}

.number-ofItems {
  position: absolute;
  top: 2px;
  left: 22px;
  font-weight: 700;
  color: orange;
  font-size: 2rem;
}
