@use "../../styles/scss";

.main-search__container {
  margin-left: 8rem;
  display: flex;
  border-radius: 7px;
  align-items: center;
  // align-self: center;

  &--search-bar {
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    height: 4.4rem;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1.8rem;
    color: #111;
    padding: scss.$padding-very-small;
    line-height: 1rem;
    z-index: 99;
  }
}

.search-icon__container {
  cursor: pointer;
  z-index: 999;
  display: flex;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: scss.$padding-very-small;
  transition: all 0.3s;
  background-color: rgb(221, 156, 35);
  height: 4.4rem;

  &:hover {
    background-color: rgb(184, 121, 3);
  }

  &--icon {
    align-self: center;
    font-size: 3rem;
  }
}

.active {
  box-shadow: 0 0 2px 4px orange;
  z-index: 99;
}
