@mixin yellowBtn {
  color: black;
  border-radius: 3px;
  font-size: 1.8rem;
  padding: 1rem 14.5rem;
  background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  transition: all 0.3s;
  @content;

  &:hover {
    background: linear-gradient(to bottom, #f0c14b, #f7dfa5);
  }

  &:active {
    transform: scale(0.95);
  }
}

@mixin buttons {
  font-family: inherit;
  cursor: pointer;
}

@mixin positionEl($position, $top, $left, $right) {
  position: $position;
  top: $top;
  left: $left;
  right: $right;
  @content;
}

@mixin displayFlex($direction, $align, $justify, $gap) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin displayGrid($justify-items, $align-items, $gap) {
  display: grid;
  justify-items: $justify-items;
  align-items: $align-items;
  gap: $gap;
  @content;
}

@mixin arrow(
  $position,
  $cursor,
  $border-style,
  $top,
  $left,
  $z-index,
  $border-width,
  $border-color,
  $width,
  $height,
  $font-size,
  $line-height
) {
  position: $position;
  cursor: $cursor;
  border-style: $border-style;
  top: $top;
  left: $left;
  z-index: $z-index;
  border-width: $border-width;
  border-color: $border-color;
  width: $width;
  height: $height;
  font-size: $font-size;
  line-height: $line-height;
  @content;
}

@mixin backgroundImage(
  $back-size,
  $back-color,
  $back-repeat,
  $back-position,
  $width,
  $height
) {
  background-size: $back-size;
  background-color: $back-color;
  background-repeat: $back-repeat;
  background-position: $back-position;
  height: $width;
  width: $height;
  @content;
}
