$font-size-default: 1.5rem;
$font-size-2rem: 2rem;

// Font weight
$font-weight-light: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;

// Border radius
$border-radius-common: 3px;

// colors
$default-white: white;
$default-black: black;
$color-links: #007185;
$color-price: #b12704;
$color-bestSeller: #e67a00;
$color-background-primary: #eee;

// padding
$padding-very-small: 1rem;
$padding-small: 2rem;
