$font-size-default: 1.5rem;
$font-size-2rem: 2rem;

// Font weight
$font-weight-light: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;

// Border radius
$border-radius-common: 3px;

// colors
$default-white: white;
$default-black: black;
